//define variables
$transparent : transparent
$animation: 1s ease-in-out 1s 1 forwards moveText
$animation2: 1s ease-in-out 1s 1 forwards displayBackground
$animation3: 1s ease-in-out 1s 1 forwards moveText2
$grid1-2: col(1 , 2)
$grid2-3: col(2 , 3)
$px15: 15px
$px7: 7px
//define mixin
@mixin style1
  margin-left: 30px
  margin-top: 5px
  margin-bottom: 0px
  color: $transparent
  animation: $animation

@mixin style2
  color: $transparent
  animation: $animation
//define functions
//function to translateX from -1000vh to 0px
@keyframes moveText 
  from
    transform: translateX(-1000vh)
  to
    transform: translateX(0px)
    visibility: visible
    background: linear-gradient(#2b88f2, #104D87)
    -webkit-background-clip: text

@keyframes moveText2
  0%
    transform: translateX(-1000vh)
  100%
    transform: translateX(0px)
    visibility: visible
    background: linear-gradient(#2b88f2, #104D87)
    -webkit-background-clip: text
    text-shadow: 10px 10px 7px black

@keyframes displayBackground

  0%
    visibility: hidden
  100%
    visibility: visible
    background-color: rgba(255, 255, 255, 0.1)

//define style
:root
  color: $transparent
  //background: radial-gradient(#daf8ff, #359df8)
  animation: 1s ease-in-out 0s 1 forwards moveText

h1
  visibility: hidden
  padding: 10px
  border-radius: 25px
  background-color: rgba(255, 255, 255, 0.1)
  animation: $animation2
  text-shadow: 8px 8px 8px black


.canvas
  display: grid
  grid-template-columns: 1fr 0.8fr 2.2fr
  grid-auto-rows: minmax(1px, auto)

#TD
  height: 100%
  width: 100%
  grid-column: 3/ 4
  grid-row: 1/ 12

.title
  color: $transparent
  width: 100%
  display: flex 
  justify-content: space-between
  align-items: center
  animation: $animation

.two
  color: $transparent
  width: 25%
  margin-left: 50%
  animation: $animation3

.three
  @include style1
  grid-column: $grid1-2
  grid-row: $grid1-2

.four
  @include style1
  grid-column: $grid1-2
  grid-row: 2 / 3

.five
  @include style1
  grid-column: $grid1-2
  grid-row: 3 / 4

.six
  @include style1
  grid-column: $grid1-2
  grid-row: 4 / 5

.seven
  @include style1
  grid-column: $grid1-2
  grid-row: 5 / 6
  
.nine
  @include style1
  grid-column: $grid1-2
  grid-row: 7 / 8

.ten
  @include style1
  grid-column: $grid1-2
  grid-row: 8 / 9

.eleven
  @include style1
  grid-column: $grid1-2
  grid-row: 9 / 10

.twelve
  @include style1
  grid-column: $grid1-2
  grid-row: 10 / 11

.thirdteen
  @include style1
  grid-column: $grid1-2
  grid-row: 11 / 12

.eight
  grid-column: $grid1-2
  grid-row: 6 / 7
  @include style2
  

.fourteen
  grid-column: $grid1-2
  grid-row: 12/ 13
  @include style2

.fifteen
  grid-column: $grid1-2
  grid-row: 13/ 14
  @include style2
  

.sixteen
  grid-column: $grid1-2
  grid-row: 14/ 15
  @include style2

.seventeen
  margin-left: 15%
  font-size: 12px
  grid-column: 3 / 4
  grid-row: 12 /13
  @include style2

.a
  @include style2

.a:hover
    color: #FFC53D

@media screen and (max-width: 1374px)
  .seventeen
    margin-left: 20%

@media screen and (max-width: 581px)
  .seventeen
    margin-left: 30%
@media screen and (min-width: 550px)
  .three, .four, .five, .six, .seven, .nine, .ten, .eleven, .twelve, .thirdteen
    margin-left: $px15

@media screen and (max-width: 550px)
  .three, .four, .five, .six, .seven, .nine, .ten, .eleven, .twelve, .thirdteen
    margin-left: $px7
