body
  margin: 50px
  padding: 30px
  border: 2px solid black
  box-shadow: 10px 10px 10px black
  background-image: url("../assets/images/ciel.jpg")
  background-repeat: no-repeat
  background-size: 100% 100%
  