@keyframes moveText {
  from {
    transform: translateX(-1000vh);
  }
  to {
    transform: translateX(0px);
    visibility: visible;
    background: linear-gradient(#2b88f2, #104D87);
    -webkit-background-clip: text;
  }
}
@keyframes moveText2 {
  from {
    transform: translateX(-1000vh);
  }
  to {
    transform: translateX(0px);
    visibility: visible;
    background: linear-gradient(#2b88f2, #4695df);
    -webkit-background-clip: text;
    text-shadow: 4px 4px 16px black;
  }
}
@keyframes displayBackground {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
:root {
  color: transparent;
  animation: 1s ease-in-out 0s 1 forwards moveText;
}

h1 {
  visibility: hidden;
  padding: 10px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  animation: 1s ease-in-out 1s 1 forwards displayBackground;
  text-shadow: 8px 8px 8px black;
}

.canvas {
  display: grid;
  grid-template-columns: 1fr 0.8fr 2.2fr;
  grid-auto-rows: minmax(1px, auto);
}

#TD {
  height: 100%;
  width: 100%;
  grid-column: 3/4;
  grid-row: 1/12;
}

.title {
  color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 1s ease-in-out 1s 1 forwards moveText;
}

.two {
  color: transparent;
  width: 25%;
  margin-left: 50%;
  animation: 1s ease-in-out 1s 1 forwards moveText2;
}

.three {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
  grid-column: col(1, 2);
  grid-row: col(1, 2);
}

.four {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
  grid-column: col(1, 2);
  grid-row: 2/3;
}

.five {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
  grid-column: col(1, 2);
  grid-row: 3/4;
}

.six {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
  grid-column: col(1, 2);
  grid-row: 4/5;
}

.seven {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
  grid-column: col(1, 2);
  grid-row: 5/6;
}

.nine {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
  grid-column: col(1, 2);
  grid-row: 7/8;
}

.ten {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
  grid-column: col(1, 2);
  grid-row: 8/9;
}

.eleven {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
  grid-column: col(1, 2);
  grid-row: 9/10;
}

.twelve {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
  grid-column: col(1, 2);
  grid-row: 10/11;
}

.thirdteen {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
  grid-column: col(1, 2);
  grid-row: 11/12;
}

.eight {
  grid-column: col(1, 2);
  grid-row: 6/7;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
}

.fourteen {
  grid-column: col(1, 2);
  grid-row: 12/13;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
}

.fifteen {
  grid-column: col(1, 2);
  grid-row: 13/14;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
}

.sixteen {
  grid-column: col(1, 2);
  grid-row: 14/15;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
}

.seventeen {
  margin-left: 15%;
  font-size: 12px;
  grid-column: 3/4;
  grid-row: 12/13;
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
}

.a {
  color: transparent;
  animation: 1s ease-in-out 1s 1 forwards moveText;
}

.a:hover {
  color: #FFC53D;
}

@media screen and (max-width: 1374px) {
  .seventeen {
    margin-left: 20%;
  }
}
@media screen and (max-width: 581px) {
  .seventeen {
    margin-left: 30%;
  }
}
@media screen and (min-width: 550px) {
  .three, .four, .five, .six, .seven, .nine, .ten, .eleven, .twelve, .thirdteen {
    margin-left: 15px;
  }
}
@media screen and (max-width: 550px) {
  .three, .four, .five, .six, .seven, .nine, .ten, .eleven, .twelve, .thirdteen {
    margin-left: 7px;
  }
}
@media screen and (max-width: 470px) {
  .two {
    margin-left: 60%;
  }
}
@media screen and (max-width: 401px) {
  .two {
    margin-left: 65%;
  }
}
@media screen and (max-width: 370px) {
  .two {
    margin-left: 70%;
  }
}
@media screen and (max-width: 330px) {
  .two {
    margin-left: 60%;
  }
}
@media screen and (max-width: 310px) {
  .two {
    margin-left: 65%;
  }
}
@media screen and (max-width: 290px) {
  .two {
    margin-left: 70%;
  }
}
@keyframes background {
  from {
    background-image: none;
  }
}
@media screen and (min-width: 1374px) {
  body {
    animation: 1s ease-in-out 0s 1 forwards background;
    margin: 15px;
    padding: 30px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
    background-image: url("../assets/images/saturn.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 1374px) {
  body {
    animation: 1s ease-in-out 0s 1 forwards background;
    margin: 15px;
    padding: 15px;
    border: 1px solid black;
    box-shadow: 7px 7px 7px black;
    background-image: url("../assets/images/saturn.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 1135px) {
  body {
    animation: 1s ease-in-out 0s 1 forwards background;
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    background-image: url("../assets/images/saturn.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 900px) {
  body {
    animation: 1s ease-in-out 0s 1 forwards background;
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    background-image: url("../assets/images/saturn.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 868px) {
  body {
    animation: 1s ease-in-out 0s 1 forwards background;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    background-image: url("../assets/images/saturn.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 580px) {
  body {
    animation: 1s ease-in-out 0s 1 forwards background;
    margin-top: 12%;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    background-image: url("../assets/images/saturn.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (min-width: 1374px) {
  p, li, a {
    font-size: 30px;
  }
  h1, h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1374px) {
  p, li, a {
    font-size: 20px;
  }
  h1, h2 {
    font-size: 30px;
  }
  .seventeen {
    font-size: 8px;
  }
}
@media screen and (max-width: 1135px) {
  p, li, a {
    font-size: 15px;
  }
  h1, h2 {
    font-size: 25px;
  }
  .seventeen {
    font-size: 7px;
  }
}
@media screen and (max-width: 868px) {
  p, li, a {
    font-size: 10px;
  }
  h1, h2 {
    font-size: 20px;
  }
  .seventeen {
    font-size: 5px;
  }
}
@media screen and (max-width: 580px) {
  p, li, a {
    font-size: 7px;
  }
  h1, h2 {
    font-size: 10px;
  }
  .seventeen {
    font-size: 3px;
  }
}
.image {
  visibility: hidden;
}

@keyframes backgroundImage {
  0% {
    background-image: url("../assets/images/moi.png");
    background-size: cover;
  }
  100% {
    background-image: url("../assets/images/moi.png");
    background-size: cover;
    border-radius: 50%;
    visibility: visible;
  }
}
@media screen and (min-width: 1374px) {
  .image {
    height: 200px;
    width: 200px;
    box-shadow: inset 10px 10px 10px black;
    animation: 2s ease-in-out 1s 1 forwards backgroundImage;
  }
}
@media screen and (max-width: 1374px) {
  .image {
    height: 150px;
    width: 150px;
    box-shadow: inset 7px 7px 7px black;
    animation: 2s ease-in-out 1s 1 forwards backgroundImage;
  }
}
@media screen and (max-width: 1135px) {
  .image {
    height: 100px;
    width: 100px;
    box-shadow: inset 5px 5px 5px black;
    animation: 2s ease-in-out 1s 1 forwards backgroundImage;
  }
}
@media screen and (max-width: 900px) {
  .image {
    height: 80px;
    width: 80px;
    box-shadow: inset 3px 3px 3px black;
    animation: 2s ease-in-out 1s 1 forwards backgroundImage;
  }
}
@media screen and (max-width: 868px) {
  .image {
    height: 70px;
    width: 70px;
    box-shadow: inset 2px 2px 2px black;
    animation: 2s ease-in-out 1s 1 forwards backgroundImage;
  }
}
@media screen and (max-width: 580px) {
  .image {
    height: 50px;
    width: 50px;
    box-shadow: inset 1px 1px 1px black;
    animation: 2s ease-in-out 1s 1 forwards backgroundImage;
  }
}
.malt {
  height: 0.8em;
}

@keyframes move {
  100% {
    visibility: visible;
  }
}
.button {
  visibility: hidden;
  border: 1px solid black;
  border-radius: 25px;
  color: white;
  background: linear-gradient(#2b88f2, #104D87, #359df8);
  text-decoration: none;
  padding: 10px;
  box-shadow: 3px 3px 3px white;
  animation: 1s ease-in-out 1s 1 forwards move;
}

.button:active {
  padding: 5px;
  box-shadow: 3px 3px 3px white;
}

@media screen and (max-width: 330px) {
  .button {
    padding: 5px;
  }
  .button:active {
    padding: 2px;
    box-shadow: 1px 1px 1px white;
  }
}/*# sourceMappingURL=styles.css.map */